:root{
    --dark: #264653;
    --green: green; 
     --red: red;
}



body{
    color: var(--green);

}

main{
    background-color: var(--dark); 
    height:90vh;
}

footer, nav{
    padding: 18px;
    border-bottom: 1px solid var(--green);


}

nav{

}

image{
    width:150px;
    height:150px;
    object:
}